@import "tailwindcss";

@theme {
  --color-primary: #DA291C;
  --color-secondary: #111111;
  --color-background: #FFFFFF;
  --color-muted: #F5F5F5;
  --color-border: #E5E5E5;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-secondary);
  }
}
